<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="EventManDbEntities"
         connectionString="Server=06130697-5ed4-411e-8a87-a4de00b00822.sqlserver.sequelizer.com;Database=db061306975ed4411e8a87a4de00b00822;User ID=zhqrcqwiazsehnws;Password=xEwqS28ZBxnGvhPBDQounWqEZ4WCjhgDMeTTi3RdsVmQzt82ooQJqGDHpYyWdDPt;" />
  </connectionStrings>
</configuration>