<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="EventManDbEntities"
         connectionString="Server=b4d426a8-1c87-442a-a286-a4de00bb3af8.sqlserver.sequelizer.com;Database=dbb4d426a81c87442aa286a4de00bb3af8;User ID=hyenmdtwmrwkserg;Password=fQzWUDb2HYrhCpe5MNXNsSeFsBNgNhVUJpQtscMV7s6NZNyoK6Teub5uK2CrY3nz;" />
  </connectionStrings>
</configuration>