<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="EventManDbEntities"
         connectionString="Server=9a390346-e4df-46a8-b258-a4de00b8783a.sqlserver.sequelizer.com;Database=db9a390346e4df46a8b258a4de00b8783a;User ID=mohrdmdymcihsqdl;Password=xqLpkv2UJ8XLN3xn3GYH4ZtuSwsh5jPYzhxoy8dhPDfiMCrJQgwjXGGF6rDVcSYz;" />
  </connectionStrings>
</configuration>